<div id="errorsDiv">
    <div class="alert alert-success errorsDiv" id="alertSuccess" style="display:none">
    </div>
    <div class="alert alert-danger errorsDiv" id="alertDanger" style="display:none">
    </div>
    <div class="panel panel-danger" id="customError" style="display:none">
        <div class="panel-heading">
            @Instagram.Resources.Strings.Error:
        </div>
        <ul class="text-danger"></ul>
    </div>
</div>
