@model IEnumerable<Instagram.Models.Post>
@{
    ViewBag.Title = "Index";
}

<div class="inner-wrapper">
    @foreach (var post in Model ?? new List<Instagram.Models.Post>())
    {
        @Html.Partial("_Post", post)
    }
</div>